<?xml version="1.0" encoding="utf-8" ?>

<!--
This is just an example
_______________________

- Use file instead of name in template?
- Use execonbuild instead of onbuild? 

remember:
- template - onbuild is default = false, and type is boolean
- template - name is required
- trigger - pattern is required
-->

<configuration>

	<template name="T4MVC.tt">
		<trigger pattern="^Controllers\\" />
		<trigger pattern="^Content\\" />		
	</template>
	
	<template name="TextTemplate.tt" onbuild="false">
		<trigger pattern="^Class1.cs$" />
	</template>
	
	<template name="Another.tt">
		<trigger pattern=".cs$" />
		<trigger pattern=".aspx$" />
	</template>
	
	<template name="OnlyOnBuild.tt" onbuild="true" />
	
</configuration>