<?xml version="1.0" encoding="utf-8" ?>

<!--
This is just an example
_______________________

- Use file instead of name in template?
- Use execonbuild instead of onbuild? 

remember:
- template - onbuild is default = false, and type is boolean
- template - name is required
- trigger - pattern is required
-->

<configuration>

	<template name="t4mvc.tt">
		<trigger pattern="/views/*" />
		<trigger pattern="/scripts/" />		
	</template>
	
	<template name="other.tt" onbuild="false">
		<trigger pattern="what.cs" />
	</template>
	
	<template name="somefile.tt" onbuild="true">
		<trigger pattern="some.cs" />
		<trigger pattern="whatever.cs" />
	</template>
	
	<template name="somename.tt" onbuild="true" />
	
</configuration>